@{
    ViewData["Title"] = "Sports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Sports.Models.Team

    <h2>Create</h2>
    <hr />
    <h4>Add a new team</h4>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
        @Html.LabelFor(model => model.Players)
        @Html.TextBoxFor(model => model.Players)
        @Html.LabelFor(model => model.Captain)
        @Html.TextBoxFor(model => model.Captain)
        <input type="submit" value="Add new team" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
