@{
    ViewData["Title"] = "Sports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Sports.Models.Team

    <h2>Edit</h2>
    <hr />
    <h4>Edit this team: @Html.DisplayFor(model => model.Name)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.TeamId)

        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)

        @Html.LabelFor(model => model.Captain)
        @Html.EditorFor(model => model.Captain)

        @Html.LabelFor(model => model.Players)
        @Html.EditorFor(model => model.Players)

        @Html.LabelFor(model => model.DivisionId)
        @Html.DropDownList("DivisionId")


        <input type="submit" value="Save"/>
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
