@{
    ViewData["Title"] = "Sports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Sports.Models.Team>


    <h2>Sports Teams</h2>
    <h4>@Html.DisplayNameFor(model => model.Name)</h4>
    <ul>
        @foreach (var listTeam in Model)
        {
            <li>@Html.DisplayFor(modelTeam => listTeam.Name) | @Html.ActionLink("Details", "Details", new { id = listTeam.TeamId }) | @Html.ActionLink("Edit", "Edit", new { id = listTeam.TeamId }) | @Html.ActionLink("Delete", "Delete", new { id = listTeam.TeamId })</li>
        }
    </ul>
    <p>@Html.ActionLink("Add new team", "Create")</p>
