@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Sports.Models.Team>

<html>
<head>
    <title>Sports</title>
</head>
<body>
    <h2>Sports Teams</h2>
    <h4>@Html.DisplayNameFor(model => model.Name)</h4>
    <ul>
        @foreach (var listTeam in Model)
        {
            <li>@Html.DisplayFor(modelTeam => listTeam.Name) | @Html.ActionLink("Details", "Details", new { id = listTeam.TeamId }) | @Html.ActionLink("Edit", "Edit", new { id = listTeam.TeamId }) | @Html.ActionLink("Delete", "Delete", new { id = listTeam.TeamId })</li>
        }
    </ul>
    <p>@Html.ActionLink("Add new team", "Create")</p>
</body>
</html>